* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    background: #f4f6f8;
}

.sidebar {
    width: 230px;
    background-color: #1e8e3e;
    min-height: 100vh;
    padding: 20px;
}

.sidebar h4 {
    color: white;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    color: #eaf7ef;
    padding: 10px;
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 6px;
    transition: 0.3s;
}

.sidebar a.active,
.sidebar a:hover {
    background-color: #fff7e6;
    color: #1e8e3e;
    font-weight: bold;
}

.content h2 {
    color: #1e8e3e;
    font-weight: bold;
}

.card {
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
